<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stackunderflow.stackptr"
    android:versionCode="18"
    android:versionName="1.4.1" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".StackPtr"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StackPtrLogin"
            android:label="StackPtr Login" >
            <intent-filter>
                <action android:name="com.stackunderflow.stackptr.login" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".StackPtrService"
            android:icon="@drawable/ic_launcher" >
            <intent-filter>
                <action android:name="com.stackunderflow.stackptr.StackPtrService" />
                <action android:name="com.stackunderflow.stackptr.overlay" />
            </intent-filter>
        </service>

        <receiver
            android:name=".StackPtrServiceStarter"
            android:enabled="true"
            android:exported="true"
            android:label="StartAtBoot" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".StackPtrSettings"
            android:label="@string/title_activity_stack_ptr_settings" >
            <intent-filter>
                <action android:name="com.stackunderflow.stackptr.StackPtrSettings" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
